@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

.App {
  text-align: center;
  /* align-items: center; */
  /* font-weight:bold; */
  /* font-size: 20px; */
  /* font-family: 'Signika Negative', sans-serif; */
  /* margin-top:10px; */
  font-family: 'Oswald', sans-serif;

}


.pseudolink {
   color:blue;
   text-decoration:underline;
   cursor:pointer;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #3395FF;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  /* width:1px; */
  /* width: 1%; */
}

/* General sidebar styles */
.bm-menu {
  /* background: #373a47; */
  /* background: linear-gradient(45deg, #373a47, #ababad); */
  /* background: #474A51; */
  background-image: url('https://www.textures.com/system/gallery/photos/Substance/127830/Substance0093_18_download600.jpg');
  padding: 2.0em 1.5em 0;
  /* width:70%; */
  font-size: 1.4em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.car-job{
  color:#E2F0FF;
  font-weight: bold;
}

.menu-item{
  color: white;
  padding: 10px;
  font-weight: 900
}
.menu-item:hover{
  color: #3395FF;
  padding: 10px;
  cursor: pointer;
}

.queue-card {
  /* width: 600px; */
  /* width:65%; */
  flex:1;
  padding: 10px;
  /* box-shadow: 5px 10px 10px grey; */
  background: black;
  margin: 10px;
  opacity: 0.85;
  padding:40px;
  border-radius: 10px;
}

.queue-card:hover{
  opacity:1;
  border: 2px solid #d3dbe8;
  transition-duration: .25s;
}

.job-desc{
  color:#E2F0FF;
  font-size: 18px;
  line-height: 1px;
}

.queue-card-container{
  /* flex-direction: column; */
  display: flex;
  /* align-items: center; */
  margin-left: 20%;
}

.sort-btn{
  font-size: 16px;
  background-color: #e7e7e7;
  color: black;
}

.login{
  width: 500px;
  margin: auto;
  margin-top: 15%;
  border-radius: 10px;

  /* width: 400px; */
  padding: 50px;
  border: 3px solid white;
  border-radius: 10px;
}

.car-job-header{
  font-size: 40px;
  font-weight: 9000;
  color:white;
  font-family: 'Anton', sans-serif;
  letter-spacing: 1.5px;
}

.drop-down{
  width: 250px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: auto;
}

.link{
  font-size: 22px;
  color: white !important;
}

.link:hover{
  /* font-size: 23px; */
  /* font-weight: bold; */
  color: #3395FF !important;
}

.dash-button{
  margin-top:20px !important;
  background: #3395FF !important;
  color: white !important;
}

.selectedsort{
  background: #3395FF !important;
  color: white !important;
}
.card{
  font-size: 20px;
  /* line-height: 30px; */
}

h1{
  color:white;
  font-weight: bold;
}
.text{
  color:white;
  font-size: 20px;
}
.car-form{
  /* display: inline; */
  /* position: absolute; */
  width: 500px;
  padding: 30px;
  border: 3px solid white;
  margin:auto;
  border-radius: 10px;
}

.jobs-form{
  /* display: inline; */
  /* position: absolute; */
  width: 500px;
  padding: 30px;
  border: 3px solid white;
  margin:auto;
  border-radius: 10px;
}

.customer-form{
  width: 400px;
  padding: 50px;
  border: 3px solid white;
  margin:auto;
  border-radius: 10px;
}

.divider{
  width: 600px;
  margin:auto;
}

.header-text{
  font-size: 50px;
  color:white;
}

.header-div{
  padding-top:50px;
  padding-bottom:15px;
}

.pad-header{
  padding-top:40px;
  padding-bottom:15px;
}

.owned-cars{
  padding-top:40px !important;
  padding-bottom:15px !important;
}

.show-customer-card{
  /* align-content: center !important; */
  /* width: 500px; */
  padding-top: 40px !important;
}
